Repository srujanakalluru/Cryptocurrency-Prices-Tracker, pull requests merged in 2022-09, with the labels that each got.

#8 Adding label workflow
  .github/workflows/labeler_config.yml
  .github/workflows/main.yml
  README.md
  src/main/java/com/controller/CryptoPricesTrackingController.java
Labels: controller, github, readme

#11 Jacoco coverage
  .github/labeler_config.yml
  .github/workflows/main.yml
  pom.xml
  src/main/java/com/CryptoPricesTrackerApplication.java
  src/main/java/com/client/CoinGeckoRestApi.java
  src/main/java/com/configuration/InitConfig.java
  src/main/java/com/logging/LoggingAspect.java
  src/main/java/com/logging/LoggingBean.java
  src/test/java/com/client/CoinGeckoRestApiTest.java
  src/test/java/com/logging/LoggingAspectTest.java
Labels: github, maven, client, configuration, logging

#12 Adding codacy feature
  .github/labeler_config.yml
  .github/workflows/main.yml
  README.md
Labels: github, readme, workflow

#13 Updating javadoc
  src/main/java/com/entity/BitcoinData.java
  src/main/java/com/logging/LoggingAspect.java
  src/main/java/com/service/impl/CryptoPricesTrackingServiceImpl.java
  src/main/java/com/service/impl/EmailServiceImpl.java
  src/main/java/com/utils/DateUtils.java
  src/test/java/com/client/CoinGeckoRestApiTest.java
  src/test/java/com/controller/CryptoPricesTrackingScheduleControllerTest.java
  src/test/java/com/logging/LoggingAspectTest.java
  src/test/java/com/scheduler/CryptoPricesTrackingSchedulerServiceTest.java
Labels: controller, entity, scheduler, client, logging, service, utils

#14 Initial commit after organization transfer
  .github/workflows/main.yml
  Dockerfile
  README.md
  pom.xml
  src/test/java/com/controller/CryptoPricesTrackingScheduleControllerTest.java
Labels: controller, readme, maven, workflow

#15 Feature dummy
  .github/workflows/main.yml
Labels: controller, readme, maven, workflow

#16 Split workflow files
  .github/workflows/codacy.yml
  .github/workflows/label.yml
  .github/workflows/sonar.yml
  .github/workflows/stale.yml
Labels: workflow
